<nav class="navbar">
	<div class="left-navbar">
		<img
			class="task-logo"
			src="/images/task-logo.jpg"
			alt="Task Logo"
		/>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/user/db/authPage">FAQ</a>
	</div>
	<div class="right-navbar">
		<img
			class="internet-logo"
			src="/images/internet-icon.png"
			alt="Internet Icon"
		/>
		<button class="login-button" type="button">
			<a href="/user/db/authPage">Login</a>
		</button>
	</div>
</nav>