<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="/css/addtask.css" />
		<title>Add Task</title>
	</head>
	<body>
		<div class="container-add-task">
			<h1 class="add-task-title">Add a New Task</h1>
			<form class="form-add-task">
				<label class="title-label">Title</label>
				<input class="input-container" type="text" name="title" />
				<div class="status-due-date-container">
					<div class="status-container">
						<label class="status-label">Status</label>
						<input
							class="input-container"
							type="text"
							name="status"
						/>
					</div>
					<div class="due-date-container">
						<label class="due-date-label">Due Date</label>
						<input
							class="input-container"
							type="date"
							name="due_date"
						/>
					</div>
				</div>
				<label for="description" class="description-label"
					>Description</label
				>
				<textarea
					class="description-container"
					name="description"
					rows="5"
					cols="56"
				></textarea>
				<input
					class="add-button"
					onclick="redirectToTask()"
					type="button"
					value="Add"
				/>
			</form>
			<a href="/api/tasks">
				<button class="back-button">Go back</button></a
			>
		</div>
		<script>
			function redirectToTask() {
				let title = document.querySelector("form input[name='title']");
				let status = document.querySelector(
					"form input[name='status']"
				);
				let description = document.querySelector(
					"form textarea[name='description']"
				);
				let dueDate = document.querySelector(
					"form input[name='due_date']"
				);
				fetch(`http://localhost:3000/api/tasks`, {
					method: "POST",
					headers: { "Content-type": "application/json" },
					body: JSON.stringify({
						title: title.value,
						status: status.value,
						description: description.value,
						due_date: dueDate.value,
					}),
				})
					.then((response) => {
						console.log("Response:", response);
						return response.json();
					})
					.then((data) => {
						if (data.error) {
							alert(data.error);
							throw new Error(data.error);
						}
						alert(`You've succesfully added ${title.value}`);
						window.location.href = `/api/tasks/${data.id}`;
					})
					.catch((error) => console.error(error));
			}
		</script>
	</body>
</html>
