<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tasks</title>
	</head>
	<body>
		<h1>Hello, this is your Tasks App</h1>
		<!-- <button><a href="login">Login</a></button> -->
		<div>
			<button type="button" style="margin-left: 500px">
				<a href="/user/db/authPage">Login</a>
			</button>
			<button type="button" style="margin-left: 500px">
				<a href="/api/db/todo-list">View Tasks</a>
			</button>
		</div>
	</body>
</html>
