body {
	/* background: linear-gradient(to bottom, #ebf5ee 0%, #ffffff 50%); */
	margin: 0;
	height: 100%;
	font-family: "Inter", sans-serif;
	background-attachment: fixed;
	
}

a {
	text-decoration: none;
	color: #827b7b;
}

.section-1 {
	background-image: url("/images/about-us-1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(13, 1fr);
	margin-top: 20px;
}

.rectangle-1 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 10;
	border: solid white;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 5.5vh;
	padding-left: 4vw;
	width: 100%;
}

.rectangle-1-shadow {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 10;
	border: solid rgba(255, 255, 255, 0.25);
	transform: translate(3%, -5%);
	padding-left: 4vw;
	width: 100%;
}

.section-1 h1 {
	color: white;
	font-size: 3vw;
	margin: 0;
}

.section-1 p {
	color: white;
	font-size: 1.05vw;
	max-width: 90%;
	line-height: 1.8;
}

.section-2 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(11, 1fr);
	height: 100vh;
}

.rectangle-2 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 10;
	background-image: url("/images/about-us-2.jpg");
	background-repeat: no-repeat;
	transform: translate(-8%);
}

.rectangle-3 {
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 10;
	transform: translate(8%);
	display: flex;
	flex-direction: column;
}

.section-2 h1 {
	font-size: 3vw;
	margin: 0;
	padding: 0;
	position: relative;
	right: 2px;
}

.short-line {
	width: 11%;
	height: 3px;
	background-color: orange;
}

.sentence-1 {
	color: orange;
	font-weight: bold;
	margin-bottom: 0;
}

.section-2 p {
	font-size: 1.05vw;
	line-height: 1.8;
	margin-bottom: 0;
}

.section-3 {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	background-color: #ebf5ee;
}

.rectangle-4 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section-3 blockquote {
	margin: 0;
	width: 85%;
	font-size: 30px;
	font-weight: bold;
}

.whole-sentence {
	text-align: center;
}

.double-quotes::after {
	content: "»";
	padding-left: 5px;
	color: orange;
}

.first-sentence {
	display: block;
}

.first-sentence::before {
	content: "«";
	padding-right: 5px;
	color: orange;
}

.citation {
	display: block;
	text-align: right;
	font-weight: normal;
	margin-top: 10px;
}

.section-4 {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(6, 1fr);
	height: 500px;
}

.rectangle-5 {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 4;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.rectangle-5 h1 {
	font-size: 3vw;
	margin: 0;
	padding: 0;
	position: relative;
	right: 2px;
}

.rectangle-5 p {
	font-size: 1.05vw;
	line-height: 1.8;
}

.rectangle-6 {
	grid-column-start: 6;
	grid-column-end: 8;
	grid-row-start: 2;
	grid-row-end: 6;
	border-radius: 3px;
	box-shadow: 7px 7px 35px 3px rgba(187, 185, 185, 0.3),
		7px 7px 35px 3px rgba(187, 185, 185, 0.2),
		7px 7px 35px 3px rgba(187, 185, 185, 0.15),
		7px 7px 45px 3px rgba(187, 185, 185, 0.1);
	padding-top: 15px;
	min-height: 370px;
}

.labels {
	display: block;
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bold;
}

.flex-box-names {
	display: flex;
	margin-left: 15px;
	margin-bottom: 20px;
}

/* .first-name-input-container {
	margin-right: 10px;
} */

.name-input-box {
	width: 80%;
	height: 40px;
	background-color: rgb(232, 232, 232);
	border: thin solid #bbb9b9b5;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 15px;
	max-width: 100%;
}

.email-input-container {
	margin-left: 15px;
}

.email-input-box {
	width: 90%;
	height: 40px;
	background-color: rgb(232, 232, 232);
	border: thin solid #bbb9b9b5;
	border-radius: 5px;
	padding-left: 10px;
	font-size: 15px;
}

.message-input-container {
	margin-top: 20px;
	margin-left: 15px;
}

.message-input-box {
	width: 90%;
	height: 80px;
	background-color: rgb(232, 232, 232);
	border: thin solid #bbb9b9b5;
	border-radius: 5px;
	resize: vertical;
	max-height: 150px;
	padding-left: 10px;
	font-size: 15px;
	font-family: "Inter", sans-serif;
}

.submit-button {
	margin-top: 15px;
	margin-left: 15px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	border: none;
	background-color: #4070f4;
	font-weight: bold;
	font-size: 15px;
	color: white;
}