body {
	background: linear-gradient(to bottom, #ebf5ee 0%, #ffffff 50%);
	margin: 0;
	height: 100%;
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
	color: #827b7b;
}

.get-started {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateY(-60px);
	color: #827b7b;
}

.get-started h1 {
	margin-bottom: 0;
	font-size: 60px;
}

.get-started button {
	background: none;
	border: 1px solid;
	border-radius: 25px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	margin-top: 15px;
}
